.center-div{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.section-proposal{
    background-color: rgb(229, 239, 239);
    width: 60rem;
    height: 30rem;
    border: 2px solid black;
    border-radius:2rem;
}

.section-proposal{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.center-div{
    margin: 5rem;
}

.form-proposal{
    display: block;
}

#title{
    border-radius: 10px;
    margin-left: 1rem;
    width: 16rem;
}

.title{
    display: flex;
    justify-content: center;
}

#description{
    border-radius: 10px;
    margin: 1rem;
    width: 45rem;
    height: 14rem;
}

.description{
    display: flex;
    justify-content: center;
}

.description > label:nth-child(1) > strong:nth-child(1){
    position: relative;
    top: 1rem;
}


#contractor{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
    margin: 1rem;
}


#contractor:hover{
    color: grey;
    
}

.finish_job{
    background-color: rgba(233, 2, 2, 0.74);
    min-width: 15rem;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
    }

.finish_job:hover{
    background-color: rgb(212, 54, 54);
    color: white;
}
